{% extends "app/layout.html" %}

{% block content %}

<script language=javascript src="{{ USATU_PATH }}/common/moderation.js" type=text/javascript></script>


<font class=NavBread>
<a href="">{{ NAV_CAPTION }}</a> > <b>Модерирование</b> > <b>Комментарии</b><br><br>
</font>


<table border=0 cellspacing="0"  cellpadding="5" width=100%>
 <tr>
   <td class=TdSpaceWithBookmarks width=20>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/news/">Новости</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdOpenWithBookmarks>&nbsp;&nbsp;Комментарии&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/teachers/">Преподы</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/files_for_edu/">Файлы</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/photos/">Фотки</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/meet/">Знакомства</a>&nbsp;&nbsp;</td>

   <td class=TdSpaceWithBookmarks width=100%>&nbsp;</td>
 </tr>
</table>


<table class=TableWithBookmarks  bgcolor=c1c1c1 cellSpacing=0 cellPadding=0 width='100%' border=0>
  <tr>
    <td valign=top bgColor=white>
      <table cellSpacing=0 cellPadding=0 width=100%>
        <tr>
          <td class=PageContent>

            <br />
            <b>Количество не отмодерированных комментариев:</b> {{ COUNT_COMMENTS }}
            <br />
            <br />
            <table width="100%">
              {% for msg in comments %}
                <tr id="comment_{{ msg.id }}">
                  <td>
                    <img
                      style="cursor: pointer"
                      src="{{ USATU_PATH }}/picture/release.jpg"
                      width="100"
                      onclick="release_message({{ msg.id }}, true)"
                    />
                  </td>
                  <td>
                    <a href="{{ msg.parent.url }}">
                      {% if msg.parent.type == 'teacher' %}
                        ПРЕПОД
                      {% endif %}
                      {% if msg.parent.type == 'photo' %}
                        ФОТО
                      {% endif %}
                      {% if msg.parent.type == 'news' %}
                        НОВОСТЬ
                      {% endif %}
                    </a>

                    id_parent: {{ msg.id_parent }} | id: {{ msg.id }} |
                    {% include "app/messages/message.html" %}
                  </td>
                  <td>
                    <img
                      style="cursor: pointer"
                      src="{{ USATU_PATH }}/picture/delete.png"
                      width="100"
                      onclick="delete_message({{ msg.id }}, true)"
                    />
                  </td>
                </tr>
              {% endfor %}
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}
