<font class=NavBread>
<a href="">USATU.com</a> > <b>Модерирование</b> > <b>Фотки</b><br><br>
</font>


<table border=0 cellspacing="0"  cellpadding="5" width=100%>
 <tr>
   <td class=TdSpaceWithBookmarks width=20>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/news/">Новости</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/comments/">Комментарии</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/teachers/">Преподы</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/files_for_edu/">Файлы</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdOpenWithBookmarks>&nbsp;&nbsp;Фотки&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="mod/meet/">Знакомства</a>&nbsp;&nbsp;</td>

   <td class=TdSpaceWithBookmarks width=100%>&nbsp;</td>
 </tr>
</table>


<table class=TableWithBookmarks  bgcolor=c1c1c1 cellSpacing=0 cellPadding=0 width='100%' border=0>
  <tr>
    <td valign=top bgColor=white>
      <table cellSpacing=0 cellPadding=0 width=100%>
        <tr>
          <td class=PageContent>
            <br>
            <b>Модерирование рейтинга в фотогалерее:</b><br>
            <a href="mod/photos/delete_himself/">удалить голоса самого себе</a><br>
            <a href="mod/photos/delete_ones/">удалить единичные оценки</a><br>
            <a href="mod/photos/delete_zero_posts/">удалить голоса тех у кого ни одного сообщения ни на форуме не на сайте</a><br>
            <a href="mod/photos/recalculate/">пересчитать статистику</a><br>
                        
            <br>
            <hr>
            <br>       
            <b>ID фоток размером больше 60 кб:</b>
            <br>
            <br>
            <tpl:photos>
            <tpl:photo>
              {PHOTO_ID} - {PHOTO_SIZE} kb<br>
            </tpl:photo>
            <br>
            <hr>
            <br>
            <b>Нехватает следующих фоток:</b><br><br>
            {LACK_PHOTOS}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
