<div class="core_main_block">
    <span class="core_main_caption">&raquo; Восстановление доступа</span>
    <br />
    <br />
    <font class="core_message_success" *ngIf="!show_form">{{success_top_msg}}</font>
    <table class="core_main_font" *ngIf="show_form">
      <form [formGroup]="regForm" style="margin-bottom: 0px">
        <tr valign=middle>
          <td style="vertical-align: top; padding-top: 4px;">Email: </td>
          <td>
            <input
              class="border teacher-card_input" type="text"
              id="email" formControlName="email" [(ngModel)]="email" email />
            <div
              *ngIf="formErrors.email"
              class="errorMessage"
              style="font-size: 12px; margin-top: 5px">
                {{ formErrors.email }}
            </div>
          </td>
        </tr>

        <tr>
          <td colspan=2>
            <font class="errorMessage" style="font-size: 12px"
              *ngIf="error_msg!=null">{{error_msg}}</font>

            <br/>
            <button *ngIf="!loading" (click)="restorePassword()" md-raised-button
              [disabled]="!regForm.valid"
              >Восстановить пароль</button>
            <md-progress-spinner *ngIf="loading" [mode]="'indeterminate'"
              style="width: 36px; height: 36px;">
            </md-progress-spinner>

          </td>
        </tr>

      </form>
    </table>
  </div>