<div class="core_main_block">
    <span class="core_main_caption">&raquo; Изменить пароль</span>
    <br />
    <br />
    <font class="core_message_success" *ngIf="!show_form">{{success_top_msg}}</font>
    <table class="core_main_font" *ngIf="show_form">
      <form [formGroup]="regForm" style="margin-bottom: 0px">
        <ng-container [formGroup]="regForm.controls.matchingPassword">

        <tr valign=middle>
          <td style="vertical-align: top; padding-top: 4px;">Новый пароль: </td>
          <td>
            <input
              class="border teacher-card_input"
              type="password"
              id="password" formControlName="password" [(ngModel)]="password" />

            <div *ngIf="formErrors['matchingPassword/password']"
              class="errorMessage"
              style="font-size: 12px; margin-top: 5px">
                {{ formErrors['matchingPassword/password'] }}
            </div>
          </td>
        </tr>
        <tr valign=middle>
          <td style="vertical-align: top; padding-top: 4px;">Повторите пароль: </td>
          <td>
            <input
              class="border teacher-card_input"
              type="password"
              id="password2" formControlName="password2" [(ngModel)]="password2" />

            <div
              *ngIf="formErrors.password2"
              class="errorMessage"
              style="font-size: 12px; margin-top: 5px">
                {{ formErrors.password2 }}
            </div>

            <div
              *ngIf="formErrors.matchingPassword"
              class="errorMessage"
              style="font-size: 12px; margin-top: 5px">
                {{ formErrors.matchingPassword }}
            </div>
          </td>
        </tr>

        </ng-container>

        <tr>
          <td colspan=2>
            <font class="errorMessage" style="font-size: 12px"
              *ngIf="error_msg!=null">{{error_msg}}</font>

            <br/>
            <button *ngIf="!loading" (click)="changePassword()" md-raised-button
              [disabled]="!regForm.valid"
              >Изменить пароль</button>
            <md-progress-spinner *ngIf="loading" [mode]="'indeterminate'"
              style="width: 36px; height: 36px;">
            </md-progress-spinner>

          </td>
        </tr>

      </form>
    </table>
  </div>