{% extends "app/layout.html" %}

{% block content %}

<font class=NavBread>
<a href="">USATU.com</a> > <a href="teachers/">Преподаватели УГАТУ</a> > <b>{{ teacher.name }}</b>
</font>
<br><br>

<table border=0 cellspacing="0"  cellpadding="5" width=100%>
 <tr>
   <td class=TdSpaceWithBookmarks width=20>&nbsp;&nbsp;&nbsp;</td>
   <td class=TdOpenWithBookmarks>&nbsp;&nbsp;Преподаватели&nbsp;УГАТУ&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=40>&nbsp;&nbsp;&nbsp;</td>
   <td class=TdCloseWithBookmarks>&nbsp;&nbsp;<a href="teachers/edit/">Добавить&nbsp;преподавателя</a>&nbsp;&nbsp;</td>
   <td class=TdSpaceWithBookmarks width=100%></td>
 </tr>
</table>

<table class=TableWithBookmarks bgcolor=c1c1c1 cellSpacing=0 cellPadding=0 width='100%' border=0>
  <tr>
    <td valign=top bgColor=white>
      <table cellSpacing=0 cellPadding=15>
        <tr>
          <td class=PageTitle>
            {{ teacher.name }}
            {% if is_editor %}
              / <a href='teachers/edit/{{ teacher.id }}/'><b>Р</b></a>
            {% endif %}
          </td>
        </tr>
      </table>

      <table cellSpacing=0 cellPadding=15>
        <tr>
          <td class=PageContent>
            <table cellSpacing=0 cellPadding=5 width=100% border=0>
              <tr>
                <td class=TeacherTextContent colspan=2>
                  {{ teacher.photos | safe }}
                </td>
              </tr>
              <tr>
                <td class=TeacherTextContent>Место&nbsp;работы:&nbsp;</td>
                <td class=TextContent>{{ teacher.fc_short_name }}  >
                  <a HREF="teachers/chair/{{ teacher.id_chair }}/">{{ teacher.chair_name }}
                    <b>({{ teacher.chair_short_name }})</b>
                  </a>
                </td>
              </tr>
              <tr>
                <td class=TeacherTextContent>Предметы:&nbsp;</td>
                <td class=TextContent>{{ teacher.subject }}</td>
              </tr>
              <tr>
                <td class=TeacherTextContent valign=top>Информация:&nbsp;</td>
                <td class=TextContent>{{ teacher.information }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <a class=SendError href="mailto:my_fess@mail.ru">Сообщить о неточностях</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<script>
  System
    .import('{{ USATU_PATH }}/app/comments/comments')
    .catch(function (err) {console.error(err);});
</script>
<comments object-id="{{ teacher.id }}" page-link="teachers/{{ teacher.id }}"></comments>

{% endblock %}