<div>
  <component data-component="mod_usatu/my_data_grid_view/my_data_grid_view">
    <opt name="name" value="TableA" />
    <opt name="className" value="board_list" />

     <option name="data_handler" type="function">js!mod_usatu/board/board:prototype.date_converter</option>

  </component>
</div>
