.blogMessageTextBlock {
    font-size: 12.5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px
}

.blogMessageTextBlock table {
    font-size: 12.5px;
}

.rte_preview_div .aligncenter {
    display: block;
    margin-bottom: 20px;
}

.blogMessageTextBlock .aligncenter {
    display: block;
    margin-bottom: 20px;
}

.core_message_success {
    font-size: 12px;
    font-weight: bold;
    color: #008000;
    background-color: #ccffcc;
}

.core_main_caption {
    font-weight: bold;
    color: #637388;
    font-size: 16px;
}

.core_main_block {
    border-collapse: collapse;
    border: 1px solid #c1c1c1;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.core_main_font {
    font-size: 80%;
}

.core_sql_block {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Consolas, "Courier New";
}

.rte_preview_div table {
    font-size: 12.5px !important;
}

.core_sql_block span {
    white-space: pre;
    color: #303336;
}

.core_sql_reserved_word {
    color: #101094 !important;
}
