<!DOCTYPE html>
<html>
  <head></head>
  <body>
    {USER_LOGIN} ответил на ваш <a href="http://{DOMEN}/{URL}">комментарий</a> на
    <a href="http://{DOMEN}">{NAV_CAPTION}</a>, в котором вы писали:
    <br />
    <br />
    <table>
      <tr>
        <td width="1" bgcolor="black"></td>
        <td width="30"></td>
        <td width="100%">{OLD_MESSAGE}</td>
      </tr>
    </table>
    <br />
    Ответ был таким:
    <br />
    <br />
    <table>
      <tr>
        <td width="1" bgcolor="black"></td>
        <td width="30"></td>
        <td width="100%">{NEW_MESSAGE}</td>
      </tr>
    </table>
    <br />
  </body>
</html>