<html>
  <head>
    <title>Подождите...</title>
    <meta http-equiv='refresh' content='{TIME}; url={URL}' />
    <style type="text/css">
      a {CURSOR: hand; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #9B5C20; TEXT-DECORATION: none}
      a:active {CURSOR: hand}
      a:hover {CURSOR: hand; TEXT-DECORATION: underline}
      td.PageContent {PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px}
    </style>


  </head>

  <body>
    <table width='100%' height='85%' align='center'>
      <tr>
        <td valign='middle'>

          <table align='center' bgcolor=c1c1c1 cellSpacing=1 cellPadding=0 border=0>
            <tr>
              <td valign=top bgColor=white class=PageContent align="center">
                <br>{MESSAGE}<br><br>Подождите, сейчас Вы будете перемещены...<br><br>
                (<a href='{URL}'>Или нажмите сюда, если не хотите ждать</a>)
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </body>
</html>

