{% extends "app/layout.html" %}

{% block content %}

<font class=NavBread>
<a href="">USATU.com</a> > <b>Пользовательское соглашение</b><br><br>
</font>
<table bgcolor=c1c1c1 cellSpacing=1 cellPadding=0 width='100%' border=0>
  <tr>
    <td valign=top bgColor=white>

<table cellSpacing=0 cellPadding=15><tr><td class=PageTitle>&raquo; Пользовательское соглашение</td></tr></table>
<table cellSpacing=0 cellPadding=0 width=100%>
  <tr>
    <td class=PageContent>

<table cellSpacing=0 cellPadding=0 width=100%>
  <tr>
    <td class=TextContent>

<b>Поведение зарегистрированного пользователя </b>
<ol>
<li>Вы понимаете и принимаете, что за всю информацию, данные, текст, программы, музыку, звуки, фотографии, графику, видео, сообщения и другие материалы (<контент>), размещенные для общего доступа или переданные в частном порядке, ответственно то лицо, которое этот контент произвело. Это означает, что Вы, а не USATU, полностью отвечаете за весь контент, который Вы загружаете, посылаете, передаете или каким-либо другим способом делаете доступным с помощью служб USATU. Вы понимаете, что, используя службы USATU, Вы можете увидеть контент, который является оскорбительным, недостойным или спорным. Ни при каких обстоятельствах USATU не несёт ответственности за контент, созданный пользователями его служб.</li>
<li>Вы соглашаетесь не использовать службы USATU для:</li>
<ul>
    <li>загрузки, посылки, передачи или любого другого способа размещения контента, который является незаконным, вредоносным, угрожающим, клеветническим, оскорбляет нравственность, нарушает авторские права, пропагандирует ненависть и/или дискриминацию людей по расовому, этническому, половому, религиозному, социальному признакам, содержит оскорбления в адрес конкретных лиц или организаций</li>
    <li>нарушения прав несовершеннолетних лиц и/или причинение им вреда в любой форме</li>
    <li>ущемления прав меньшинств</li>
    <li>выдавания себя за другого человека или представителя организации и/или сообщества без достаточных на то прав, в том числе за сотрудников USATU, за модераторов форумов, за владельца сайта, а также введения в заблуждение относительно свойств и характеристик каких-либо субъектов или объектов</li>
    <li>загрузки, посылки, передачи или любого другого способа размещения контента, который Вы не имеете права делать доступным по закону РФ или согласно каким-либо контрактным отношениям</li>
    <li>загрузки, посылки, передачи или любого другого способа размещения контента, который затрагивает какой-либо патент, торговую марку, коммерческую тайну, копирайт или прочие права собственности и/или авторские и смежные с ним права третьей стороны</li>
    <li>загрузки, посылки, передачи или любого другого способа размещения не разрешенной специальным образом рекламной информации, спама (в том числе и поискового), списков чужих адресов электронной почты, схем "пирамид", многоуровневого (сетевого) маркетинга (MLM), систем интернет заработка и e-mail бизнесов, "писем счастья", а также для участия в этих мероприятиях (отправка несогласованных писем со ссылками на предоставляемые USATU службы, включая почтовые адреса, сайты, закладки и т.п.) может считаться участием в запрещенных настоящим пунктом мероприятиях, даже если отправка производилась без непосредственного использования почтовых серверов USATU)</li>
    <li>загрузки, посылки, передачи или любого другого способа размещения каких-либо материалов, содержащих вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным ресурсам в Интернете, а также размещения ссылок на вышеуказанную информацию</li>
    <li>умышленного нарушения местного, российского законодательства или норм международного права</li>
    <li>сбора и хранения персональных данных других лиц</li>
    <li>нарушения нормальной работы веб-сайта USATU</li>
    <li>применения любых форм и способов незаконного представительства других лиц в Сети</li>
    <li>размещения ссылок на ресурсы Сети, содержание которых противоречит действующему законодательству РФ</li>
    <li>содействия действиям, направленным на нарушение ограничений и запретов, налагаемых Соглашением</li>

</ul>
<li>Вы признаете, что USATU не обязан просматривать контент любого вида перед размещением, а также то, что USATU имеет право (но не обязанность) по своему усмотрению отказать в размещении или удалить любой контент, который доступен через одну из служб USATU. Вы согласны с тем, что Вы должны самостоятельно оценивать все риски, связанные с использованием контента, включая оценку надежности, полноты или полезности этого контента.</li>
<li>Вы понимаете, что технология работы служб может потребовать передачи Вашего контента по компьютерным сетям, а также изменения его для соответствия техническим требованиям.</li>
</ol>
<table border=0 width=100%><tr><td class=TextContent align=right>15.09.2004</td></tr></table>

    </td>
  </tr>
</table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}