{% extends "app/layout.html" %}

{% block content %}

<font class=NavBread>
<a href="">{{ NAV_CAPTION }}</a> > <b>Ссылки</b><br><br>
</font>
<table bgcolor=c1c1c1 cellSpacing=1 cellPadding=0 width='100%' border=0>
  <tr>
    <td valign=top bgColor=white>

<table cellSpacing=0 cellPadding=15><tr><td class=PageTitle>&raquo; Ссылки</td></tr></table>
<table cellSpacing=0 cellPadding=0 width=100%>
  <tr>
    <td class=PageContent>

<table cellSpacing=0 cellPadding=0 width=100%>
  <tr>
    <td class=TextContent>

<center><font class=title2>УГАТУшные ресурсы</font></center>
<br />

<a href="http://lk.ugatu.su/raspisanie/"  target=_blank>
  <B>lk.ugatu.su/raspisanie/</B>
</A>
- Расписание занятий
<br />

<a href="http://www.library.ugatu.ac.ru/"  target=_blank><B>library.ugatu.ac.ru/</B></A>
 - электронный каталог библиотеки УГАТУ
<br />

<a href="http://fad.ugatu.ac.ru/"  target=_blank><B>http://fad.ugatu.ac.ru/</B></A> - сайт ФАД
<br />
<br />
<br />
<br />

<center><font class=title2>Наша кнопка</font><br><br>
<img src="{{ USATU_PATH }}/picture/button1.gif" alt="Студенческий сайт УГАТУ" width="88" height="31" border="0"><br><br>
<textarea name="button" cols="60" rows="4"><a href="http://{{ DOMEN }}/" target="_blank"><img src="http://{{ DOMEN }}/{{ USATU_PATH }}/picture/button1.gif" alt="Студенческий сайт УГАТУ" width="88" height="31" border="0"></a></textarea>
</center>

<br><br><center><font class=title2>Наш банер</font><br><br>
<a href="http://{{ DOMEN }}/" target="_blank"><img src="{{ USATU_PATH }}/picture/usatu3.png" alt="Студенческий сайт УГАТУ" width="100" height="100" border="0"></a><br><br>
<textarea name="button" cols="60" rows="4"><a href="http://{{ DOMEN }}/" target="_blank"><img src="http://{{ DOMEN }}/{{ USATU_PATH }}/picture/usatu3.png" alt="Студенческий сайт УГАТУ" width="100" height="100" border="0"></a></textarea>
</center>

    </td>
  </tr>
</table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}