<font class=title3>Описания наших ресурсов:</font><br><br>
<table cellSpacing=1 cellPadding=0 width="100%" bgColor=#c1c1c1 border=0>
  <tr>
    <td bgcolor=white>
      <table cellSpacing=0 cellPadding=0 width="100%" bgColor=#ffffff border=0>
        <tr>
          <td>
            <table cellSpacing=5 cellPadding=0 width="100%" border=0>

              <tr>
                <td vAlign=top>
                  <table vAlign=top align=center height="100%" cellSpacing=0 cellPadding=10 width="100%" border=0>
                    <tr>
                      <td valign=middle>
                        <a class=AInFastPreview href="teachers/"><img src="{{ USATU_PATH }}/picture/main/teachers.gif" border =0 alt="Преподаватели УГАТУ"></a>
                      </td>

                      <td width=100%>
                        <a class=AInFastPreview href="teachers/">Преподаватели УГАТУ</a>
                      </td>
                    <tr class=TextInFastPreview>
                      <td colspan=2>
                        Здесь вы сможете найти информацию о любом преподе из УГАТУ, его фотографию, высказать своё мнение и узнать, что думают о нём другие студенты.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height="1" background="/{{ USATU_PATH }}/picture/design/punctgor.gif"></td></tr>

              <tr>
                <td vAlign=top>
                  <table vAlign=top align=center height="100%" cellSpacing=0 cellPadding=10 width="100%" border=0>
                    <tr>
                      <td valign=middle>
                        <a class=AInFastPreview href="files_for_edu/"><img src="{{ USATU_PATH }}/picture/main/files.gif" border =0 alt="Файлы для учёбы"></a>
                      </td>

                      <td width=100%>
                        <a class=AInFastPreview href="files_for_edu/">Файлы для учёбы</a>
                      </td>
                    <tr class=TextInFastPreview>
                      <td colspan=2>
                        В этом разделе вы найдёте лабы, шпоры, лекции, методички, курсовые, рефераты, пособия, билеты и многое другое. Вы также можете добавить свой файл.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr><td height="1" background="/{{ USATU_PATH }}/picture/design/punctgor.gif"></td></tr>

              <tr>
                <td vAlign=top>
                  <table vAlign=top align=center height="100%" cellSpacing=0 cellPadding=10 width="100%" border=0>
                    <tr>
                      <td valign=middle>
                        <a class=AInFastPreview href="forum/"><img src="{{ USATU_PATH }}/picture/main/forum.gif" border =0 alt="Форум"></a>
                      </td>

                      <td width=100%>
                        <a class=AInFastPreview href="forum/">Форум</a>
                      </td>
                    <tr class=TextInFastPreview>
                      <td colspan=2>
                        Если вам необходимо общение, то форум - это то, что вам нужно. Если в нашем форуме нет раздела вашей группы, то мы легко это исправим и вы сможете общаться в интернете со своими одногрупниками.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr><td height="1" background="/{{ USATU_PATH }}/picture/design/punctgor.gif"></td></tr>

              <tr>
                <td valign=top>
                  <table vAlign=top align=center height="100%" cellSpacing=0 cellPadding=10 width="100%" border=0>
                    <tr>
                      <td valign=middle>
                        <a class=AInFastPreview href="photos/"><img src="{{ USATU_PATH }}/picture/main/photos.gif" border =0 alt="Фотогалерея"></a>
                      </td>

                      <td width=100%>
                        <a class=AInFastPreview href="photos/">Фотогалерея</a>
                      </td>
                    <tr class=TextInFastPreview>
                      <td colspan=2>
                        На сайте действует ресурс фотогалереи - вы можете размещать неограниченное количество своих фотографий (в скором времени для участников фотогалереи будут организованы конкурсы с призами).
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>


              <tr><td height="1" background="{{ USATU_PATH }}/picture/design/punctgor.gif"></td></tr>

              <tr>
                <td vAlign=top>
                  <table vAlign=top align=center height="100%" cellSpacing=0 cellPadding=10 width="100%" border=0>
                    <tr>
                      <td valign=middle>
                        <a class=AInFastPreview href="meet/"><img src="{{ USATU_PATH }}/picture/main/meet.gif" border =0 alt="Знакомства"></a>
                      </td>
                      <td valign=middle width=100%>
                        <a class=AInFastPreview href="meet/">Знакомства</a>
                      </td>

                    <tr class=TextInFastPreview>
                      <td colspan=2>
                        Если вам одиноко, не хватает ласки, внимания и общения, вы хотите найти свою вторую половинку, то вы просто обязаны воспользоваться нашим ресурсом знакомств!
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr><td height="1" background="/{{ USATU_PATH }}/picture/design/punctgor.gif"></td></tr>

              <tr>
                <td vAlign=top>
                  <table vAlign=top align=center height="100%" cellSpacing=0 cellPadding=10 width="100%" border=0>
                    <tr>
                      <td valign=middle>
                        <a class=AInFastPreview href="images/"><img src="{{ USATU_PATH }}/picture/main/images.gif" border =0 alt="Картинки"></a>
                      </td>

                      <td width=100%>
                        <a class=AInFastPreview href="images/">Картинки</a>
                      </td>
                    <tr class=TextInFastPreview>
                      <td colspan=2>
                        Данный ресурс предназначен для тех, кому нужно разместить картинки и фотографии в интернете. Мы предоставляем вам неограниченное пространство для загрузки ваших файлов на наш сервер и гарантируем их сохранность.
                      </td>
                    </tr>
                  </table>
                </td>

              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<TABLE cellSpacing=0 cellPadding=0 width="100%" height=10 border=0><TR><TD class=title2 width=250></TD></TR></TABLE>
