{% extends "app/layout.html" %}

{% block content %}

<table bgcolor=c1c1c1 cellSpacing=1 cellPadding=15 width='100%' border=0>
  <tr height=15>
    <td valign=top bgColor=white>
      <font class=Error404>
        <b>404 ошибка.</b>
        <br />
        <br />
        Этот документ не найден. Возможно, он перемещён, либо никогда не существовал.
        Советуем вам перейти на <a href='http://{{ DOMEN }}'>главную страницу сайта</a>,
        откуда вы сможете попасть в нужное вам место.
      </font>
    </td>
  </tr>
</table>

{% endblock %}