<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>{{ PAGE_TITLE }}Студенческий сайт УГАТУ | USATU</title>
      <meta name='yandex-verification' content='5a9ac01d77f4e0fc' />
      <base href="/">
      <meta http-equiv=Content-Type content="text/html; charset=utf-8">
      <meta name="keywords" content="УГАУТ, шпоры УГАТУ, преподы УГАТУ, USATU">
      <meta name='yandex-verification' content='5a9ac01d77f4e0fc' />

      <link href="{{ USATU_PATH }}/common/style.css" type="text/css" rel=stylesheet>
      <link href="https://cdn.jsdelivr.net/npm/@angular/material@2.0.0-beta.7/prebuilt-themes/indigo-pink.css" rel="stylesheet">

      <script
        language=javascript src="{{ USATU_PATH }}/common/MyRequest.js" type=text/javascript>
      </script>

      {% if ES5  %}
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/rxjs/bundles/Rx.min.js"></script>
        <script src="node_modules/core-js/client/shim.min.js"></script>
        <script src="node_modules/zone.js/dist/zone.min.js"></script>
        <script src="node_modules/systemjs/dist/system.js"></script>
        <script src="{{ USATU_PATH }}/systemjs.config.js"></script>
      {% endif %}


      {% if TYPESCRIPT  %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.1/Rx.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.12/zone.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.39/system.src.js"></script>
        <script src="{{ USATU_PATH }}/systemjs-dev.config.js"></script>
      {% endif %}

      <!--
      <script src='https://www.google.com/recaptcha/api.js'></script>
      -->
  </head>

  <body bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 marginwidth="0" marginheight="0">
    <script language=JavaScript>
      var enabled_prod_mode = false;
      var usatu_global_config = {
        {{ ADDITIONAL_PARAMS }}
        'user_name': '{{ USER_LOGIN }}',
        'user_id': '{{ USER_ID }}',
        'avatar': null,
        'enableProdMode': function () {
          if ({{ PRODUCTION_STR }}) {
            if (!enabled_prod_mode) {
              enabled_prod_mode = true;
              return true;
            }
          }
          return false;
        },
        'is_production': {{ PRODUCTION_STR }},
        'is_editor': {{ IS_EDITOR_STR }},
        'recaptcha': '{{ CAPTCHA_PUBLIC }}',
        'captcha_on': {{ CFG_CAPTCHA_ON_STR }}
      };
    </script>

    {% include "app/header.html" %}   

    <table bgcolor=#f2f0f1 border=0 height=100% width="100%" cellSpacing="0" cellPadding=0>
      <tr>
        <td align="center" valign="top">
          <table style="border-spacing: 10px; width: 980px;">
            <tr>
              <td valign="top" style="width: 190px; background-color: #f2f0f1; padding: 0px;">
                {% include "app/left_menu.html" %}   
              </td>
              <td valign="top" style="width: 560px; height: 100%; background-color: #f2f0f1; padding: 0px;">
                {% block content %}{% endblock %}
              </td>
              <td valign=top style="width: 190px; background-color: #f2f0f1; padding: 0px;">
                {% block content_right_menu %}{% endblock %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table width=100% height=40 bgcolor=8F98A5 cellSpacing=0>
      <tr>
        <td colspan=2 height="3" bgcolor="#333333"></td>
      </tr>
      <tr>
        <td class=Copy>&nbsp;&nbsp;&copy; 2004-2017 <b>USATU</b>
          <br>
          &nbsp;&nbsp;Powered by <a class=FessDesign href="mailto:my_fess@mail.ru">my_fess</a>
        </td>
        <td align=right>
        {% if JIVOSITE  %}
          {JIVOSITE}
        {% endif %}
        </td>
      </tr>
    </table>

    {% if JIVOSITE  %}
      {JIVOSITE}
    {% endif %}

    {% if REFORMAL  %}
      {REFORMAL}
    {% endif %}
  </body>
</html>

<tpl:gotocomment>
<script language=JavaScript>
  document.all['gotocomment_{COMMENT_ID}'].scrollIntoView(true);
</script>
</tpl:gotocomment>

