<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    {% if HIGHLOAD  %}
      <title>HighLoad.org – блог о высоких нагрузках</title>
    {% endif %}
    {% if not HIGHLOAD  %}
      <title>{{ PAGE_TITLE }}Студенческий сайт УГАТУ | USATU</title>
    {% endif %}

      <meta name='yandex-verification' content='5a9ac01d77f4e0fc' />
      <base href="/">
      <meta http-equiv=Content-Type content="text/html; charset=utf-8">
      <meta name="keywords" content="УГАУТ, шпоры УГАТУ, преподы УГАТУ, USATU">
      <meta name='yandex-verification' content='5a9ac01d77f4e0fc' />

      <link href="{{ USATU_PATH }}/common/style.css" type="text/css" rel=stylesheet />
      <link href="{{ USATU_PATH }}/common/main.css" type="text/css" rel=stylesheet />

      <link
        href="https://cdn.jsdelivr.net/npm/@angular/material@2.0.0-beta.7/prebuilt-themes/indigo-pink.css"
        rel="stylesheet" />

      <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.2/dist/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.js"></script>

      {% if ES5  %}
        <script src="https://cdn.jsdelivr.net/npm/rxjs@5.0.1/bundles/Rx.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/core-js@2.4.1/client/shim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/zone.js@0.8.12/dist/zone.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@0.19.39/dist/system.js"></script>
        <script src="{{ USATU_PATH }}/systemjs.config.js"></script>
      {% endif %}

      {% if TYPESCRIPT  %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.1/Rx.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.12/zone.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.39/system.src.js">
        </script>
        <script src="{{ USATU_PATH }}/systemjs-dev.config.js"></script>
      {% endif %}

  </head>

  <body bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 marginwidth="0" marginheight="0">
    <script language=JavaScript>
      var enabled_prod_mode = false;
      var usatu_global_config = {
        {{ ADDITIONAL_PARAMS | safe }}
        'user_name': '{{ USER_LOGIN }}',
        'user_id': '{{ USER_ID }}',
        'avatar': {{ AVATAR }},
        'enableProdMode': function () {
          if ({{ PRODUCTION_STR }}) {
            if (!enabled_prod_mode) {
              enabled_prod_mode = true;
              return true;
            }
          }
          return false;
        },
        'is_production': {{ PRODUCTION_STR }},
        'is_editor': {{ IS_EDITOR_STR }},
        'recaptcha': '{{ CAPTCHA_PUBLIC }}',
        'captcha_on': {{ CFG_CAPTCHA_ON_STR }}
      };

      var cur = window.location.href;
      cur = cur.replace(new RegExp('http://', 'g'), '');
      var rs = cur.split('/');
      rs = rs.slice(1);
      cur = rs.join('/');
      $.cookie('usatu_last_page', $.cookie('usatu_curr_page'), { expires : 90, path: '/' });
      $.cookie('usatu_curr_page', cur, { expires : 90, path: '/' });

    </script>

    {% if HIGHLOAD  %}
      {% include "app/highload/header.html" %}
    {% endif %}
    {% if not HIGHLOAD  %}
      {% include "app/header.html" %}
    {% endif %}

    <table bgcolor=#f2f0f1 border=0 height=100% width="100%" cellSpacing="0" cellPadding=0>
      <tr>
        <td align="center" valign="top">
          {% if not HIGHLOAD  %}
            <table style="border-spacing: 10px; width: {{ WHOLE_WIDTH }};">
              <tr>
                <td valign="top" style="width: {{ RIGHT_WIDTH }}px; background-color: #f2f0f1; padding: 0px;">
                  {% if LEFT_MENU  %}
                    {% include "app/left_menu.html" %}
                  {% endif %}
                </td>
                <td
                  valign="top"
                  style="width: {{ MIDDLE_WIDTH }}; height: 100%; background-color: #f2f0f1; padding: 0px;">
          {% endif %}

          {% if HIGHLOAD  %}
            <table style="border-spacing: 0px; width: 768px;">
              <tr>
                <td
                  valign="top"
                  style="width: 768px; height: 100%; background-color: #f2f0f1; padding: 0px;
                    padding-top: 15px; padding-bottom: 15px; ">
          {% endif %}

                  {% block content %}{% endblock %}

          {% if not HIGHLOAD  %}
                </td>
                <td valign=top style="width: {{ LEFT_WIDTH }}px; background-color: #f2f0f1; padding: 0px;">
                  {% block content_right_menu %}{% endblock %}
                </td>
              </tr>
            </table>
          {% endif %}

          {% if HIGHLOAD  %}
                </td>
              </tr>
            </table>
          {% endif %}
        </td>
      </tr>
    </table>

    <table width=100% height=40 bgcolor=8F98A5 cellSpacing=0>
      <tr>
        <td colspan=2 height="3" bgcolor="#333333"></td>
      </tr>
      <tr>
        {% if HIGHLOAD  %}
          <td class=Copy>&nbsp;&nbsp;&copy; 2010-2018 <b>HIGHLOAD</b>
          </td>
        {% endif %}
        {% if not HIGHLOAD  %}
          <td class=Copy>&nbsp;&nbsp;&copy; 2004-2018 <b>USATU</b>
            <br>
            &nbsp;&nbsp;Powered by <a class=FessDesign href="mailto:my_fess@mail.ru">my_fess</a>
          </td>
        {% endif %}
        <td align=right>
          {% if HIGHLOAD  %}
            {% include "app/highload/counter.html" %}
          {% endif %}
          {% if not HIGHLOAD  %}
            {% include "app/common/counters.html" %}
          {% endif %}
        </td>
      </tr>
    </table>

    {% if not HIGHLOAD and JIVOSITE  %}
      {% include "app/common/jivosite.html" %}
    {% endif %}

    {% if not HIGHLOAD and REFORMAL  %}
      {% include "app/common/reformal.html" %}
    {% endif %}
  </body>
</html>

{% if COMMENT_ID  %}
  <script language=JavaScript>
    document.all['gotocomment_{{ COMMENT_ID }}'].scrollIntoView(true);
  </script>
{% endif %}

