.ibcButton {
  font-size:11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:#cccccc;
}

.ubbcButton {
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:#ececec;
}

.ibcSelect {
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:#ffffff;
}

.ibcButton {
  font-size:11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:#ececec;
}
