<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 980px;">
    <tr>

      <td>
        <table height="100%" width="100%" border=0 cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" bgcolor=8F98A5 height="32" align=right class=HeaderHello></td>
          </tr>
          <tr>
            <td class=TdHeader height="24" bgcolor=000000  width=100% align=center><font color=#c9d9ee></font></td>
            <td class=TdHeader height="24" bgcolor=000000 align=right nowrap>
            </td>
          </tr>
        </table>
      </td>

      <td width="980px">
        <table width="980" border="0" cellspacing="0" cellpadding="0">
         <tr>
            <td align=right valign=center>
              <table height="100%" width="100%" border=0 cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2" bgcolor=8F98A5 height="32" align=center class=HeaderHello>
                      <font style="font-weight: bold; font-size: 14px;">HighLoad.org – блог о высоких нагрузках</font>
                  </td>
                </tr>
                <tr>
                  <td class=TdHeader height="24" bgcolor=000000  width=100% align=center>
                  </td>
                  <td class=TdHeader height="24" bgcolor=000000 align=right nowrap
                    style="padding-right: 10px;">
                    <font color=ffffff>

                    </font>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>

      <td>
        <table height="100%" width="100%" border=0 cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" bgcolor=8F98A5 height="32" align=right class=HeaderHello></td>
          </tr>
          <tr>
            <td class=TdHeader height="24" bgcolor=000000  width=100% align=center></td>
            <td class=TdHeader height="24" bgcolor=000000 align=right nowrap>
            </td>
          </tr>
        </table>
      </td>

    </tr>
  </table>